$total-anim-time: 60s;

#zen-supporting{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#zen-explanation, #zen-participation, #zen-benefits, #zen-requirements{
  grid-area: 1/1/1/1;
}

#zen-explanation{
  animation: slide1 $total-anim-time infinite;
  -webkit-animation: slide1 $total-anim-time infinite;
}
#zen-participation{
  animation: slide2 $total-anim-time infinite;
  -webkit-animation: slide2 $total-anim-time infinite;
}
#zen-benefits{
  animation: slide3 $total-anim-time infinite;
  -webkit-animation: slide3 $total-anim-time infinite;
}
#zen-requirements{
  animation: slide4 $total-anim-time infinite;
  -webkit-animation: slide4 $total-anim-time infinite;
}

@keyframes slide1
{
  0%  {opacity: 1}
  20% {opacity: 1}
  25% { opacity: 0}
  45% { opacity: 0}
  50% { opacity: 0}
  70% { opacity: 0}
  75% { opacity: 0}
  95% { opacity: 0}
  100% { opacity: 1}
}

@keyframes slide2
{
  0%  {opacity: 0}
  20% {opacity: 0}
  25% { opacity: 1}
  45% { opacity: 1}
  50% { opacity: 0}
  70% { opacity: 0}
  75% { opacity: 0}
  95% { opacity: 0}
  100% { opacity: 0}
}

@keyframes slide3
{
  0%  {opacity: 0}
  20% {opacity: 0}
  25% { opacity: 0}
  45% { opacity: 0}
  50% { opacity: 1}
  70% { opacity: 1}
  75% { opacity: 0}
  95% { opacity: 0}
  100% { opacity: 0}
}

@keyframes slide4
{
  0%  {opacity: 0}
  20% {opacity: 0}
  25% { opacity: 0}
  45% { opacity: 0}
  50% { opacity: 0}
  70% { opacity: 0}
  75% { opacity: 1}
  95% { opacity: 1}
  100% { opacity: 0}
}
